---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const profilePhoto = "../../public/photo.jpg";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<img style="height:300px; display:block; margin:auto;" src={profilePhoto}>
			<p style="text-align:center;">I am a college sophomore at Yale University planning on majoring in Computer Science and Psychology.
				Outside of my love for tech, CS, and psych I'm passionate about the outdoors (I've been on several 
				backpacking trips, canoeing trips, and even summitted a 14k mountain in California), traveling (I've been to around
				30 countries and have loved exploring new places and experiencing new cultures), basketball (in high school I was 
				captain of my school's basketball team for 3 years and led us to the league championship), and reading (I go through 
				different genre phases but two of my favorite books are Improbable by Adam Fawer and Th1rt3en by Steve Cavanagh). 
				Overall, I love learning new things and am always open to opportunities that expand or make use of my current 
				knowledge and skillset!</p>
		</main>
		<Footer />
	</body>
</html>