---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import '../styles/nav.scss';
---

<header>
	<nav>
		<ul class="menuItems">
		  <li><a href='/' data-item='Home'>Home</a></li>
		  <li><a href='/proj' data-item='Projects'>Projects</a></li>
		  <li><a href='/cert' data-item='Certificates'>Certificates</a></li>
		  <li><a href='/resume' data-item='Resume'>Resume</a></li>
		  <li><a href='https://www.linkedin.com/in/caroline-baillie-4194661b5/' data-item='LinkedIn'>LinkedIn</a></li>
		  <li><a href='https://github.com/CarolineBaillie' data-item='GitHub'>GitHub</a></li>
		</ul>
	  </nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	a.active {
		font-weight: bolder;
    	text-decoration: underline;
	}
</style>
